<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dfg.java_template.business.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dfg.java_template.business.entity.User">
        <id column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="password" property="password" />
        <result column="sex" property="sex" />
        <result column="nick_name" property="nickName" />
        <result column="avatar" property="avatar" />
        <result column="birthday" property="birthday" />
        <result column="phone" property="phone" />
        <result column="status" property="status" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="last_ip_address" property="lastIpAddress" />
        <result column="is_deleted" property="isDeleted" />
        <result column="delete_time" property="deleteTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, user_name, password, sex, nick_name, avatar, birthday, phone, status, last_login_time, last_ip_address, is_deleted, delete_time, create_time, update_time, version
    </sql>

</mapper>
